.css-qrbaxs {
    color: white;
    background-color: #328188;
    font-size: 25px;
    padding: 2.4px;
    border: 1px solid black;
    border-radius: 10px;
}

p, ol, ul, dl {
    background-color: rgb(161, 214, 234);
    padding: 20px 10px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 20px;
}

.css-nlntq9 li {
    margin: 0.2em 0px 0.2em 1.2em;
    padding: 0px 0px 0px 0.6em;
    font-size: 22px;
}

.css-1cpxqw2 {
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    margin-bottom: 50px;
    line-height: 1.6;
    color: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(49, 51, 63, 0.2);
}

h1 {
    color: red;
    background-color: #ffff66;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

a {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.st-bt, .st-button {
    align-items: center;
}

.st-bt {
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(240, 245, 241);
}

[data-testid="stAppViewContainer"] {
    background-image: url("https://t3.ftcdn.net/jpg/06/90/03/40/240_F_690034083_2nbA07qJklzWIAQhx7eookfkFW65hl8O.jpg");
    background-size: cover;
}

.stSelectbox, .stButton button {
    background-color: #f9f9f9;
    border: 2px solid #0073e6;
    border-radius: 5px;
    padding: 10px;
}

.stButton button {
    color: #fff;
    background-color: #0073e6;
    border: none;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the Deploy button, header, and footer */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}